
/*  LAYOUT
===================================================================== */

body{
    margin: 0;

    display: grid;
    background-color: whitesmoke;
    grid-template-rows: min-content 1fr;
    height: 100vh;
    overflow: hidden;

    box-sizing: border-box;
    padding: 1em;
    line-height: 1.5;
}

h1{
    margin: 0;
}
p{
    margin: 0;
}

main{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-row: auto;
    gap: 1em;
    overflow: hidden;
}

section{
    display: grid;
    grid-template-rows: min-content 1fr 1fr;
    overflow: hidden;

    position: relative;
}


/*  STDOUT
===================================================================== */

.stdout{
    background: white;
    border: 1px solid lightgrey;
    margin-top: 1em;
    white-space: pre;
    font-family: monospace;
    line-height: initial;
    overflow: auto;
    color: grey;
}
.stdout hr{
    border: none;
    border-bottom: 1px solid lightgray;
}

.stdout.friendly{
    border: 1px solid grey;
    color: black;
}
.stdout.friendly hr{
    border: none;
    border-bottom: 1px solid grey;
}

section > .loading{
    position: absolute;
    inset: 0;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
section.running > *:not(.loading){
    opacity: 0.5;
}
section.running > .loading::after{
    content: "waiting for server response...";
    display: inline-block;
    background: #666;
    color: white;
    z-index: 1;
    padding: 0.25em 0.5em;
}

section.done .stdout.friendly{
    border-color: olivedrab;
}



/* .stdout-nextcloud__updates{
    color: olivedrab;
}
.stdout-nextcloud__hide{
    color: grey;
} */